// main nav menu
nav {
  margin: 1em 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: $NavyLt;
  z-index: 998;
  transition: ease 0.2s;
  &:hover {
  }
  @include media("<desktop") {
    width: auto;
    display: none;
  }
  .nav_menu {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include media("<desktop") {
      margin: 5em 1em 0;
      flex-direction: row;
      justify-content: center;
      overflow: hidden;
    }
    ul {
      margin: 1em 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      @include media("<desktop") {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 50%;
      }
      h5 {
        font-size: 0.8em;
        margin-bottom: 5px;
      }
      li {
        display: inline;
        margin: 0.2em 0;
        padding: 2px 5px;
        color: $NavyLt;
        font-family: $fontStackCode;
        font-size: 1em;
        font-weight: 500;
        // letter-spacing: -1px;
        cursor: pointer;
        transition: 0.2s ease-out;
        &:hover {
          background-color: $Red;
        }
        @include media("<desktop") {
          display: block;
        }
      }
    }
  }
  // NavToggle Component
  button {
    position: absolute;
    top: 24px;
    right: 22px;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: auto;
    height: auto;
    background: transparent;
    z-index: 999;
    cursor: pointer;
  }
}

// default list styling
li {
  list-style: none;
}