$primaryYellow: #ffe141;
$Navy: #0f3c5b;
$NavyLt: #405773;
$Red: #fb9271;
$Cyan: #76eeef;
$YellowDk: #d8bf39;
$secondary2Color: #6aa386;
$secondary3Color: #aaa348;
$shadow: rgba(100, 10, 10, 0.2);
$highlightColor: #dbffeb;

$fontStackSans: 'Fira Sans', sans-serif;
$fontStackCode: 'Fira Code', monospace;
$fontStackOswald: 'Oswald', sans-serif;
$fontStackRoboCond: 'Roboto Condensed', sans-serif;
$fontStackRoboMono: 'Roboto Mono', monospace;
$fontStackCastoro: 'Castoro', serif;
$fontStackAnton: 'Anton', sans-serif;

@font-face {
  font-family: Gimbo;
  src: url(../public/assets/GimboBlack.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import './include-media';
@import './type';
@import './nav';

.container {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3b212e;
  main {
    padding: 1rem;
    width: 100%;
    height: 100%;
    h1 {
      font-size: 14vw;
      color: #e3d26f;
      font-family: Gimbo, sans-serif;
      font-weight: normal;
      letter-spacing: -1px;
      text-align: justify;
      &::after {
        content: '';
        display: inline-block;
        // width: 100%;
      }
    }
    h2 {
      margin-top: -1%;
      font-size: 8vw;
      font-family: 'Ultra', serif;
      font-weight: normal;
      letter-spacing: -1px;
      line-height: 0.8;
      color: rgb(146, 217, 230);
    }
    .scrolling-banner {
      margin: 5% 0 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      h4 {
        font-size: 2.5vw;
        // position: absolute;
        text-align: left;
        font-family: 'Press Start 2P', cursive;
        font-weight: normal;
        text-transform: uppercase;
        white-space: nowrap;
        animation: animate 120s linear infinite;
        @keyframes animate {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-8000px);
          }
        }
      }
    }
    .index-intro {
      width: 100%;
      margin: 2rem 0 10%;
      .index-intro-featured {
        position: relative;
        .featured-text {
          position: absolute;
          right: -12px;
          top: 0;
          background-color: #40224d;
          border: 5px solid #8b479c;
          transform: rotate(5deg);
          p {
            padding: 2rem;
            line-height: 0;
            font-size: 3vw;
            font-family: 'Press Start 2P', cursive;
            text-transform: uppercase;
            text-align: center;
            // color: rgb(140, 255, 221);
            // background-color: rgb(69, 134, 59);

            background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            animation: rainbow_animation 5s ease-in-out infinite;
            background-size: 400% 100%;
            @keyframes rainbow_animation {
              0%,
              100% {
                background-position: 0 0;
              }

              50% {
                background-position: 100% 0;
              }
            }
          }
        }
        img {
          width: 100%;
        }
      }
      .index-intro-info {
        margin: 3% 0;
        padding-left: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .index-intro-heading {
          flex: 6;
          h3 {
            font-size: 6vw;
            color: #fffeaf;
            letter-spacing: 0;
            text-align: left;
          }
          p {
            font-size: 3.5vw;
            color: #789bb3;
          }
        }
        button {
          flex: 1;
          padding: 2.5% 1%;
          font-size: 3vw;
          color: white;
          font-weight: bold;
          // border: none;
          background-color: rgb(216, 41, 41);
          cursor: pointer;
          transition: 100ms ease;
          &:hover {
            background-color: rgb(37, 161, 68);
          }
        }
      }
    }
  }

  footer {
    margin: 0 0 1rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p {
      margin: 0.25rem 0 0;
      font-size: 0.7rem;
      letter-spacing: -0.5px;
      color: rgba(212, 128, 44, 0.5);
      :nth-child(n) {
        color: rgba(212, 128, 44, 0.5);
        transition: ease 0.25s;
        &:hover {
          color: rgb(190, 136, 55);
        }
      }
    }
  }
}

// default list styling
li {
  list-style: none;
}
.no-scroll {
  overflow: hidden;
}
//scrollbar
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
/* track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
/* handle */
::-webkit-scrollbar-thumb {
  background: #605449;
  border-radius: 2px;
}
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: brown;
}

// Social Icons
.social_links {
  margin: 0.6em auto 0;
  color: $NavyLt;
  font-size: 2em;
  a {
    :nth-child(n) {
      margin: 0 10px;
      cursor: pointer;
      transition: ease 0.05s;
      &:hover {
        color: $primaryYellow;
        transform: translateX(-1px) translateY(-1px);
      }
    }
  }
}

// .heading {
//   .enter_screen {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: lightgrey;
//     z-index: 9999;
//     overflow: hidden;
//     position: absolute;
//     width: 100vw;
//     height: 100vh;
//     cursor: pointer;
//     background-image: url('../public/Somewhere out in the middle of nowhere.jpg');
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     h1 {
//       font-family: $fontStackAnton;
//       font-size: 10rem;
//       letter-spacing: -0.5px;
//       color: white;
//       // background: -webkit-linear-gradient(pink, blanchedalmond);
//       // -webkit-background-clip: text;
//       // -webkit-text-fill-color: transparent;
//       // text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
//       @include media('<desktop') {
//         font-size: 6rem;
//       }
//       @include media('<tablet') {
//         font-size: 4rem;
//       }
//       @include media('<phone') {
//         font-size: 2rem;
//       }
//     }
//   }
// }

.fullscreen {
  img {
    max-height: 85vh;
  }
}
